<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCR33M2g_y3qMWPwicQ4iuygjXRYxwqcyc</string>
	<key>GCM_SENDER_ID</key>
	<string>585960561918</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Hyliard.MyApp</string>
	<key>PROJECT_ID</key>
	<string>hyliardapp</string>
	<key>STORAGE_BUCKET</key>
	<string>hyliardapp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:585960561918:ios:cb3487ad7ba0f8810d99af</string>
</dict>
</plist>